.about-me {
  display: grid;
  padding: 0 9rem;
  grid-template-columns: 1.4fr 0.6fr 1fr;
  grid-template-rows: 0.4fr 2.1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title . ."
    "Photo . describe"
    "Contact-me . Button";
}

.title {
  grid-area: title;
  h1 {
    font-size: 4em;
    background: radial-gradient(
      108.78% 2341.11% at 110% 13.4%,
      #060112 0%,
      #ffffff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-align: start;
  }
}

.Photo {
  grid-area: describe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.describe {
  grid-area: Photo;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.2em;
    text-align: start;
    color: #ebebeb;
    letter-spacing: 0.05em;
    line-height: 140%;
  }
}

.Button {
  grid-area: Contact-me;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

.Contact-me {
  grid-area: Button;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;

  i {
    font-size: 2em;
    color: #ebebeb;
    opacity: .8;
    margin: 0 1.4rem;
    transition: .3s;

    &:hover {
      color: #120fbb;
      opacity: 1;
      text-shadow: 0px 0px 15px rgba(18, 15, 187, 0.6);
      transform: scale(1.04);
    }
  }
}
