.--button-primary {
  background: linear-gradient(263.03deg, #2c28ff 19.65%, #100da6 100.89%);
  transition: 0.5s;
  border: none;
  padding: 0.4rem 2rem;
  border-radius: 0.37rem;
  cursor: pointer;

  a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: #ebebeb;
    opacity: 0.7;
    transition: 0.5s;

    i {
      margin-left: 1rem;
    }
  }

  &:hover {
    box-shadow: 1px 1px 30px #120fbb;
    transform: scale(1.02);
    a {
      opacity: 1;
    }
  }
}

.--button-secundary {
  background: transparent;
  border: 3px solid #100da6;
  transition: 0.5s;
  padding: 0.4rem 2rem;
  border-radius: 0.37rem;
  cursor: pointer;

  a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    color: #ebebeb;
    opacity: 0.7;
    transition: 0.5s;

    i {
      margin-left: 1rem;
    }
  }

  &:hover {
    box-shadow: 1px 1px 30px #120fbb;
    transform: scale(1.02);
    a {
      opacity: 1;
    }
  }
}
