#footer {
    width: 100%;
    display: flex;
    margin-top: 3.8rem;
    height: 4rem;
    justify-content: center;
    background-color: #060112;
    border-top: 1px solid rgba(116, 116, 116, 0.1);
    box-shadow: 0px -65px 98px 5px #060112;

    p {
        font-size: 1em;
        text-align: center;
        color: #EBEBEB;
        line-height: 4rem;
    }
}