#header {
  display: flex;
  max-width: 1920px;
  width: 100%;
  height: 88px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  padding: 0 144px;

  #nav-links {
    list-style: none;
    position: relative;

    a {
      text-decoration: none;
      position: relative;
      color: #cecece;
      font-size: 28px;
      margin: 0 32px;
      transition: 0.5s ease-in;

      &::after {
        content: " ";
        width: 0;
        height: 5px;
        border-radius: 15px;
        background: linear-gradient(90deg, #020082 12.56%, #2b27ed 100%);
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: 0.5s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
      &:hover {
        color: white;
      }
    }
  }

  @media (max-width: 1440px) {
    padding: 0 84px;
  }
}
