* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  max-width: 1920px;
  width: 100%;
  height: 88px;
  justify-content: space-between;
  align-items: center;
  padding: 0 9rem;
}
#header #nav-links {
  list-style: none;
  position: relative;
}
#header #nav-links a {
  text-decoration: none;
  position: relative;
  color: #cecece;
  font-size: 1.75em;
  margin: 0 32px;
  transition: 0.5s ease-in;
}
#header #nav-links a::after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 1rem;
  background: linear-gradient(90deg, #020082 12.56%, #2b27ed 100%);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s ease-in-out;
}
#header #nav-links a:hover::after {
  width: 100%;
}
#header #nav-links a:hover {
  color: white;
}
@media (max-width: 1440px) {
  #header {
    padding: 1rem 5.25rem;
  }
  #header #nav-links a {
    font-size: 1.25em;
  }
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
}

h4, a, span, p {
  font-family: "Open Sans", sans-serif;
}

.home {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4rem 9rem;
  align-items: center;
  justify-content: space-between;
  margin: 4.8rem 0;
}
.home h1 {
  font-size: 4em;
  color: white;
  line-height: 108%;
}
.home h4 {
  margin-bottom: 2.2rem;
  font-size: 2.37em;
  color: white;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
.home .home-itens button {
  margin-right: 2rem;
  margin-top: 4.8rem;
}
.home .home-image {
  width: 31.87rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 1440px) {
  .home {
    padding: 1rem 5.25rem;
    width: 100%;
    height: 100%;
  }
  .home h1 {
    font-size: 3.2em;
    line-height: 100%;
  }
  .home h4 {
    font-size: 1.8em;
  }
  .home .home-itens button {
    margin-right: 1.2rem;
  }
}

.--button-primary {
  background: linear-gradient(263.03deg, #2c28ff 19.65%, #100da6 100.89%);
  transition: 0.5s;
  border: none;
  padding: 0.4rem 2.4rem;
  border-radius: 0.37rem;
  cursor: pointer;
}
.--button-primary a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: #ebebeb;
  opacity: 0.7;
  transition: 0.5s;
}
.--button-primary a i {
  margin-left: 1rem;
}
.--button-primary:hover {
  box-shadow: 1px 1px 30px #120fbb;
  transform: scale(1.02);
}
.--button-primary:hover a {
  opacity: 1;
}

.--button-secundary {
  background: transparent;
  border: 3px solid #100da6;
  transition: 0.5s;
  padding: 0.4rem 2.4rem;
  border-radius: 0.37rem;
  cursor: pointer;
}
.--button-secundary a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
  color: #ebebeb;
  opacity: 0.7;
  transition: 0.5s;
}
.--button-secundary a i {
  margin-left: 1rem;
}
.--button-secundary:hover {
  box-shadow: 1px 1px 30px #120fbb;
  transform: scale(1.02);
}
.--button-secundary:hover a {
  opacity: 1;
}

.projects {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 1.8rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 0 9rem;
}
.projects .describe-project {
  background-color: #060112;
  box-shadow: 0px -12px 48px #060112;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
.projects .describe-project h4 {
  font-size: 2.5em;
  color: white;
  line-height: 108%;
  text-align: center;
  font-weight: 300;
  margin: 0.2rem 0;
}
.projects .describe-project p {
  font-size: 1.5em;
  color: white;
  line-height: 130%;
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: 300;
  margin: 2rem 0;
  padding: 0 4rem;
}
.projects .describe-project button {
  margin: 5.2rem 0 0 1.4rem;
}
.projects .icons {
  width: 100%;
  text-align: center;
}
.projects .icons i {
  color: #303030;
  font-size: 2.37em;
  margin: 0.8rem;
}
.projects .image-project {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
  background-color: #060112;
  width: 50%;
}
.projects .image-project h1 {
  font-size: 3em;
  color: white;
  text-align: center;
}
@media (max-width: 1440px) {
  .projects {
    padding: 0 84px;
  }
  .projects .describe-project h4 {
    font-size: 2em;
  }
  .projects .describe-project p {
    font-size: 0.9em;
  }
  .projects .describe-project button {
    margin: 3rem 0 0 1.4rem;
  }
}

@-webkit-keyframes react1 {
  from {
    opacity: 1;
    color: #61dafb;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}

@keyframes react1 {
  from {
    opacity: 1;
    color: #61dafb;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}
@-webkit-keyframes js1 {
  from {
    opacity: 1;
    color: #f0db4f;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}
@keyframes js1 {
  from {
    opacity: 1;
    color: #f0db4f;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}
@-webkit-keyframes css1 {
  from {
    opacity: 1;
    color: #1572b6;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}
@keyframes css1 {
  from {
    opacity: 1;
    color: #1572b6;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}
@-webkit-keyframes sass1 {
  from {
    opacity: 1;
    color: #cb6699;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}
@keyframes sass1 {
  from {
    opacity: 1;
    color: #cb6699;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}
@-webkit-keyframes aws1 {
  from {
    opacity: 1;
    color: #f7a80d;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}
@keyframes aws1 {
  from {
    opacity: 1;
    color: #f7a80d;
  }
  to {
    opacity: 0.6;
    color: #303030;
  }
}
.react {
  -webkit-animation: react1 3s ease-in-out 0.5s infinite alternate;
          animation: react1 3s ease-in-out 0.5s infinite alternate;
}

.js {
  -webkit-animation: js1 3s ease-in-out 1s infinite alternate;
          animation: js1 3s ease-in-out 1s infinite alternate;
}

.css {
  -webkit-animation: css1 3s ease-in-out 2s infinite alternate;
          animation: css1 3s ease-in-out 2s infinite alternate;
}

.sass {
  -webkit-animation: sass1 3s ease-in-out 3.2s infinite alternate;
          animation: sass1 3s ease-in-out 3.2s infinite alternate;
}

.aws {
  -webkit-animation: aws1 3s ease-in-out 4.2s infinite alternate;
          animation: aws1 3s ease-in-out 4.2s infinite alternate;
}

.acende-e-apaga-fundo {
  opacity: 0.2;
  -webkit-animation: acende-e-apaga-fundo 1s linear infinite alternate;
          animation: acende-e-apaga-fundo 1s linear infinite alternate;
}

.layer-sobe-e-desce {
  opacity: 0.1;
  transform: translateY(0);
  -webkit-animation: layer-sobe-e-desce 2s linear infinite forwards;
          animation: layer-sobe-e-desce 2s linear infinite forwards;
}

.anime-stroke {
  stroke: #d9d9db;
  stroke-dashoffset: 0.2 20;
  stroke-dasharray: 10;
  animation: anime-stroke 6s linear infinite alternate-reverse;
}

.btn-center-bluor {
  -webkit-animation: acende-e-apaga-fundo 2s ease infinite alternate;
          animation: acende-e-apaga-fundo 2s ease infinite alternate;
}

.layer-01-skills {
  opacity: 0;
}

.layer-02-skills {
  opacity: 0;
}

@-webkit-keyframes layer-sobe-e-desce {
  0% {
    transform: translateY(0);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70px);
    opacity: 0.1;
  }
}

@keyframes layer-sobe-e-desce {
  0% {
    transform: translateY(0);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70px);
    opacity: 0.1;
  }
}
@-webkit-keyframes acende-e-apaga-fundo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes acende-e-apaga-fundo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes anime-stroke {
  from {
    stroke-dashoffset: 0.8 20;
    stroke-dasharray: 10;
  }
  to {
    stroke-dashoffset: 20 1;
    stroke-dasharray: 80;
  }
}
@keyframes anime-stroke {
  from {
    stroke-dashoffset: 0.8 20;
    stroke-dasharray: 10;
  }
  to {
    stroke-dashoffset: 20 1;
    stroke-dasharray: 80;
  }
}
.circulo-giratorio {
  opacity: 1;
  transform-origin: center center;
  -webkit-animation: gira-circulo 30s ease infinite forwards;
          animation: gira-circulo 30s ease infinite forwards;
}

@-webkit-keyframes gira-circulo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gira-circulo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  padding: 0 84px;
  margin: 6rem 0;
  background-color: #060112;
}
.skills h1 {
  font-size: 4em;
  background: radial-gradient(90% 2341.11% at 130% 13.4%, #060112 0%, #ffffff 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 3.8rem;
  text-transform: uppercase;
}
.skills .img-skills {
  max-width: 1200px;
  width: 100%;
  height: inherit;
}
@media (max-width: 1440px) {
  .skills h1 {
    font-size: 3.5em;
  }
  .skills .img-skills {
    max-width: 1000px;
    width: 100%;
  }
}

.about-me {
  display: grid;
  padding: 0 9rem;
  grid-template-columns: 1.4fr 0.6fr 1fr;
  grid-template-rows: 0.4fr 2.1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "title . ." "Photo . describe" "Contact-me . Button";
}

.title {
  grid-area: title;
}
.title h1 {
  font-size: 4em;
  background: radial-gradient(108.78% 2341.11% at 110% 13.4%, #060112 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  text-align: start;
}

.Photo {
  grid-area: describe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.describe {
  grid-area: Photo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.describe p {
  font-size: 1.2em;
  text-align: start;
  color: #ebebeb;
  letter-spacing: 0.05em;
  line-height: 140%;
}

.Button {
  grid-area: Contact-me;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

.Contact-me {
  grid-area: Button;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
}
.Contact-me i {
  font-size: 2em;
  color: #ebebeb;
  opacity: 0.8;
  margin: 0 1.4rem;
  transition: 0.3s;
}
.Contact-me i:hover {
  color: #120fbb;
  opacity: 1;
  text-shadow: 0px 0px 15px rgba(18, 15, 187, 0.6);
  transform: scale(1.04);
}

#footer {
  width: 100%;
  display: flex;
  margin-top: 3.8rem;
  height: 4rem;
  justify-content: center;
  background-color: #060112;
  border-top: 1px solid rgba(116, 116, 116, 0.1);
  box-shadow: 0px -65px 98px 5px #060112;
}
#footer p {
  font-size: 1em;
  text-align: center;
  color: #EBEBEB;
  line-height: 4rem;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  background-color: #060112;
}

::-webkit-scrollbar-track {
  background-color: #252233;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #252233;
}

::-webkit-scrollbar-thumb {
  background: #2C28FF;
  border-radius: 8px;
}/*# sourceMappingURL=style.css.map */